<h1 style="text-align: center">Actuator Setup Panel</h1>
{{#each actuator_list}}
  <div>
    <h2>{{name}} - {{signal_type}}:</h2>
    <h3><i>Command List:</i></h3>
    {{#each commands}}
      <div class="darkwell darkwell-bordered">
        <h4><b>{{{this.name}}}</b> via <b>{{../signal_type}}</b> - {{signal}}</h4>
        <a class="btn btn-xs btn-danger" href="/{{BASE_URL}}config/delete_actuatorCommand?actid={{_id}}">Delete Command</a>
      </div>
    {{/each}}
    <div class="darkwell darkwell-bordered">
      <form action="/add_actuatorCommand" method="POST">
        <h3 class="command_link" style="text-decoration: underline;">Add a New Command</h3>
        <div class="command_reveal">
          Add command* <input type="text" name="name" placeholder="named..."> via {{signal_type}}: <input type="text" name="signal">
          <input type="hidden" name="actuator" value="{{_id}}">
          <br><br>
          <button type="submit" class="btn btn-xs btn-primary">Add Command</button><br>
          <i>*The names "On" and "Off" are reserved for commands which turn devices on and off (for tracking energy consumption).</i>
        </div>
      </form>
    </div>
  </div>
  <hr>
{{/each}}
<h2>Add an Actuator:</h2>
<div id="actuator-creator">
  ${form_configure}
  <form class="form-inline darkwell darkwell-bordered" action="#">
    Add actuator <input type="text" v-model="name" placeholder="named..." style="color: black">
    of Type <select class="form-control" v-model="signal_type">
      {{#each actuator_types}}
        <option>{{this}}</option>
      {{/each}}
    </select>
    <br>
    <button type="submit" class="btn btn-primary" disabled>Add Actuator</button>
  </form>
</div>
<script src="{{BASE_URL}}res/js/addActuator.js"></script>
<script src="{{BASE_URL}}res/js/addActuatorCommand.js"></script>
