<h3>Sensors</h3>
<ul class="darkwell darkwell-bordered" style="list-style: none">
  <li>Temperature: {{sensor_list.temp}}</li>
  <li>Humidity: {{sensor_list.humid}}</li>
  <li>Brightness: {{sensor_list.photo}}</li>
  <li>Motion: {{sensor_list.motion}}</li>
</ul>
<h3><u id="actuator-container-trigger">Actuators</u></h3>
<div id="actuator-container" style="display: none;">
  <div style="display: flex; margin: auto; flex-direction: row; min-width: 250px; justify-content: space-around; flex-wrap: wrap; width: 36%;">
    {{#each actuator_list}}
      <div class="darkwell darkwell-bordered" style="flex-grow: 1">
        <h4><i>{{name}}</i></h4>
        <b>Current Status</b>
        <ul>
          <li>Powered: {{state.on}}</li>
          <li>Override: {{state.override}}</li>
          <li>Last Command: {{last_command}}</li>
        </ul>
        <br><br>
        <form class="btn-group override-btns form-inline" data-toggle="buttons" data-actuator="{{_id}}">
          <div class="form-group">
            <input type="hidden" class="override-ind" value="{{state.override}}">
            <button class="btn btn-primary" value="off">Auto</button>
            <button class="btn btn-danger" value="on">Man. Override</button>
            <span class="override_command" {{#unless state.override}} style="display: none;"{{/unless}}>
              <select class="form-control">
                {{#each commands}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </span>
            <a class="btn btn-info" type="submit" style="display: none;">Save</a>
          </div>
        </form>
      </div>
    {{/each}}
  </div>
</div>
<h3>Rulebook</h3>
{{#each rule_list}}
  <div class="darkwell darkwell-bordered">
    <h4>
      <b>{{{name}}}</b>
      -
      If <u>{{rule_if.sensor}}</u> is {{rule_if.comparator}} <u>{{rule_if.value}}</u> then <u>{{rule_then.command_name}}</u>
    </h4>
    <a class="btn btn-xs btn-danger" href="/{{BASE_URL}}deleteRule?ruleid={{_id}}">Delete Rule</a>
  </div>
{{/each}}
<div class="darkwell darkwell-bordered">
  <form action="/addRule" method="POST">
    <h3>Add a New Rule</h3>
    <div>
      <hr>
      Rule <input type="text" name="name" placeholder="named...">:
      <hr>
      If
      <select style="color: black" name="rule_sensor">
        {{#each sensor_list}}
          <option value="{{@key}}">{{@key}}</option>
        {{/each}}
      </select>
      is
      <select style="color: black" name="rule_comparator">
        <option value="=">=</option>
        <option value=">">></option>
        <option value="<"><</option>
      </select>
      <input type="text" placeholder="value..." name="rule_value">
      <br>
      Then <select style="color: black" name="rule_then">
        {{#each actuator_list}}
          {{#each commands}}
            <option value="{{_id}}:{{../name}} - {{name}}">{{../name}} - {{name}}</option>
          {{/each}}
        {{/each}}
      </select>
      <hr>
      <button type="submit" class="btn btn-xs btn-primary">Add Rule</button><br>
    </div>
  </form>
</div>
<script src="{{BASE_URL}}res/js/raphael-2.1.4.min.js"></script>
<script src="{{BASE_URL}}res/js/justgage.js"></script>
<script>
$(function(){
  $("#actuator-container-trigger").click(function(){
    $("#actuator-container").toggle();
  })
  $(".override-btns button").click(function(){
    var value = $(this).attr("value")
    var actuator = $(this).parent().attr("data-actuator")
    if(value == "on"){
      $(this).siblings(".override_command").show()
    }
    if(value == "off"){
      $(this).siblings(".override_command").hide()
    }
    console.log(value)
    $(this).siblings(".override-ind").val(value)
    $(this).siblings(".btn-info").show()
  })
  $(".override_command").click(function(){$(this).siblings(".btn-info").show()});
  $(".btn-info").click(function(){
    var override = $(this).siblings(".override_command:visible").length
    var actuator = $(this).parent().parent().attr("data-actuator")
    var id = $(this).siblings("span").children("select").val();
    console.log()
    if(override){
      $.post("{{BASEURL}}setActuator", {
        id, actuator
      })
    }
    else{
      $.post("{{BASEURL}}setActuator", {
        actuator
      })
    }
    $(this).hide()
  })
})
</script>
